<section id="hero" class="container-fluid fullscreen">
    <div class="container h-100">
        <div class="row">
            <div class="col-12">
                <p>2024</p>
            </div>
            <div class="col-12 d-flex justify-content-between">
                <p class="display-1 ohil-text">OHIL</p>
                <div class="d-flex flex-column">
                    <p>Audience</p>
                    <p>Engagement</p>
                    <p>Accessibility</p>
                    <p>Design</p>
                    <p>Code</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <p>/* Web Innovation by the Numbers */</p>
            </div>
            <div class="col-12 text-center">
                <p class="text-uppercase">Use Your Arrow Keys</p>
            </div>
        </div>
    </div>
</section>