<section id="hero" class="container-fluid fullscreen text-white keyboard-nav">
    <div class="container h-100">
        <div class="row d-flex flex-column position-relative z-2">
            <div class="col-12 mt-auto pb-4">
                <p>2024</p>
            </div>
            <div class="col-12 d-flex justify-content-between pb-4">
                <p class="ohil-text text-inter-700">OHIL</p>
                <div class="d-flex flex-column text-inter-600 hero-list">
                    <p class="m-0">Audience</p>
                    <p class="m-0">Engagement</p>
                    <p class="m-0">Accessibility</p>
                    <p class="m-0">Design</p>
                    <p class="m-0">Code</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end mb-3">
                <p class="innovation-text">/* Web Innovation by the Numbers */</p>
            </div>
            <div class="col-12 text-center py-4">
                <p class="text-uppercase text-inter-500 small">Use Your Arrow Keys</p>
            </div>
        </div>
    </div>
</section>