<section id="transforming-development" class="container-fluid fullscreen transforming-development d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex flex-column">
            <div class="col-12">
                <h2 class="headline headline-style-1 text-inter-600">In 2024, we transformed how development gets done.</h2>
            </div>
            <div class="col-12 my-5">
                <p class="text-inter-400">With a client-review sandbox ensuring every project is refined to perfection before launch and a step-by-step SOP covering ticket creation, development, and reviews, we've streamlined efficiency and boosted client satisfaction.</p>

                <p class="text-inter-400">The result? A faster, smoother, and more collaborative process that delivers results.</p>
            </div>
        </div>
    </div>
</section>