<section id="lines-of-code" class="container-fluid fullscreen d-flex align-items-center justify-content-center text-white position-relative overflow-hidden keyboard-nav">
    <div class="container position-absolute z-3">
        <div class="row">
            <div class="col-12 d-flex flex-column text-center justify-content-center">
                <h2 class="section-title text-inter-400">Our team orchestrated</h2>
                <h3 class="large-number text-blue text-bebas headline-style-1 text-large-number py-4">860,000</h3>
                <p class="text-inter-400 small w-75 mx-auto">lines of code to engage visitors, ensuring each interaction was seamless, impactful, and built to inspire trust. </p>
            </div>          
        </div>
    </div>
    <section id="sliding-rows-section" class="position-relative py-4">
        <div class="sliding-row top d-flex gap-5 mb-4">
            <img src="assets/images/drhc-website.png" alt="Image 1" class="img-fluid" />
            <img src="assets/images/ncchi-website.png" alt="Image 2"  class="img-fluid" />
            <img src="assets/images/ohil-website.png" alt="Image 3"  class="img-fluid"/>
            <img src="assets/images/vhealth-mit-website.png" alt="Image 4"  class="img-fluid" />
        </div>
        <div class="sliding-row middle d-flex gap-5 mb-4">
            <img src="assets/images/vhealth-mit-website.png" alt="Image 4"  class="img-fluid" />
            <img src="assets/images/ohil-website.png" alt="Image 3" class="img-fluid" />
            <img src="assets/images/ncchi-website.png" alt="Image 2" class="img-fluid" />
            <img src="assets/images/drhc-website.png" alt="Image 1" class="img-fluid" />
        </div>
        <div class="sliding-row bottom d-flex gap-5">
            <img src="assets/images/drhc-website.png" alt="Image 1" class="img-fluid" />
            <img src="assets/images/ncchi-website.png" alt="Image 2" class="img-fluid" />
            <img src="assets/images/ohil-website.png" alt="Image 3" class="img-fluid" />
            <img src="assets/images/vhealth-mit-website.png" alt="Image 4" class="img-fluid" />
        </div>
      </section>    
      <div class="overlay position-absolute top-0 start-0 w-100 h-100 z-2"></div>
</section>