<section id="hero" class="container-fluid fullscreen d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex flex-column position-relative z-2 text-center justify-content-center">
                <h2 class="section-title">Our team orchestrated</h2>
                <p class="large-number">860,000</p>
                <p>lines of code to engage visitors, ensuring each interaction was seamless, impactful, and built to inspire trust. </p>
            </div>
            <div class="projects position-absolute top-0 start-0">
                <div class="project-row"></div>
                <div class="project-row"></div>
                <div class="project-row"></div>
            </div>
        </div>
    </div>
</section>