<section id="audience" class="container-fluid fullscreen audience d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row d-flex flex-column ms-5">
            <div class="col-12 d-flex flex-column justify-content-center">
                <h2 class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-4 text-inter-400 section-title">Audience</h2>
                <p class="text-inter-400">With nearly a quarter million views</p>
                <h2 class="headline headline-style-1 text-uppercase text-inter-600 mb-5">249,489 in total</h2>
            </div>
            <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
                <p class="text-inter-400">spanned from Cheyenne, WY, to Miami, FL, and everywhere in between. This year, visitors invested 257,805 minutes exploring our websites.</p>
            </div>
        </div>
    </div>
</section>