<section id="engagement" class="container-fluid fullscreen engagement d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row d-flex flex-column">
            <div class="col-12 d-flex flex-column align-items-center text-center justify-content-center">
                <h2 class="small text-uppercase text-orange rounded-4 border py-1 px-3 mb-5 text-inter-400">Engagement</h2>
                <p class="text-inter-400">From Hackathon flyers to in-depth reports, our downloadable resources reached thousands.</p>
            </div>
        </div>
        <div class="col-12 col-md-12 mx-auto d-flex justify-content-between my-5 engagement-stats">
            <div class="soi d-flex flex-column position-relative">
                <h3 class="headline headline-style-1 text-inter-600 mb-0">OHIL State of Innovation Report</h3>
                <p class="dl-number text-orange text-bebas m-0" id="soi-count">1197</p>
                <p class="text-uppercase text-inter-700 position-absolute bottom-0 end-0 mb-2 pb-5">Downloads</p>
            </div>
            <div class="hackathon offset-md-1 d-flex flex-column position-relative">
                <h3 class="headline headline-style-1 text-inter-600 mb-0">Veterans Health Hackathon Agenda</h3>
                <p class="dl-number text-orange text-bebas m-0" id="hackathon-count">490</p>
                <p class="text-uppercase text-inter-700 position-absolute bottom-0 end-0 mb-2 pb-5">Downloads</p>
            </div>
        </div>
    </div>
</section>