<section id="accessibility" class="fullscreen d-flex align-items-center justify-content-center text-black position-relative overflow-hidden bg-white py-5">
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center content">
                <span class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-5 content-center">Accessibility</span>
                <h2 class="section-title text-inter-700 headline-style-1">We're setting the standard for accessibility and inclusivity</h2>
                <p class="text-inter-400 ">We are proud to announce that every site we manage is <strong>100% fully ADA-compliant</strong>. With a focus on user-centric design and seamless functionality, we ensure that everyone, regardless of ability, can access and engage with our digital presence effortlessly.</p>
            </div>
            <div class="col-12 col-md-4 content d-flex align-items-center justify-content-center">
                <p class="large-number text-black text-bebas text-large-number py-4" id="accessibility-count">0.00</p>
            </div>
        </div>
    </div>
</section>