<section id="accessibility" class="container-fluid fullscreen d-flex align-items-center justify-content-center text-black position-relative overflow-hidden bg-white">
    <div class="container position-absolute z-3">
        <div class="row">
            <div class="col-7 d-flex flex-column justify-content-center">
                <span class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-5">Looking Ahead</span>
                <h2 class="section-title text-inter-400">We're setting the standard for accessibility and inclusivity</h2>
                <p class="text-inter-400">We are proud to announce that every site we manage is <strong>100% fully ADA-compliant</strong>. With a focus on user-centric design and seamless functionality, we ensure that everyone, regardless of ability, can access and engage with our digital presence effortlessly.</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="large-number text-black text-bebas headline-style-1 text-large-number py-4">16.86</p>
            </div>
        </div>
    </div>
</section>