<section id="design" class="container-fluid fullscreen d-flex align-items-center keyboard-nav design">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="design__animation col-12 offset-lg-1 col-lg-10 col-xl-7 mb-3 mb-md-5 mb-xl-0">
                <div class="">
                    <div class="design__animation-container position-relative flex-column justify-content-center">
                        <img src="/assets/images/figma-ui.png" class="img-fluid" />
                        <div class="design__animation-ui">
                            <div class="design__cursor" id="cursor1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor-fill cursor-icon-1" viewBox="0 0 16 16">
                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                </svg>
                                <div class="cursor-label cursor-label-1">Ross</div>
                            </div>
                            <div class="design__cursor" id="cursor2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor-fill cursor-icon-2" viewBox="0 0 16 16">
                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                </svg>                                
                                <div class="cursor-label cursor-label-2">Jim</div>
                            </div>
                            <div class="design__cursor" id="cursor3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor-fill cursor-icon-3" viewBox="0 0 16 16">
                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                </svg>                                
                                <div class="cursor-label cursor-label-3">Ryan</div>
                            </div>
                            <div class="design__cursor" id="cursor4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor-fill cursor-icon-4" viewBox="0 0 16 16">
                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                </svg>                                
                                <div class="cursor-label cursor-label-4">Will</div>
                            </div>                                                                                    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-12 offset-xl-6 col-xl-6 d-flex flex-column justify-content-center">
                <h2 class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-5 text-inter-400">Design</h2>
                <h2 class="headline headline-style-1 text-inter-600">A Year in Mockups and Components</h2>
                <p class="text-inter-400">Our OHIL design process—from ideation and wireframing to high-fidelity mockups and seamless developer handoff—brought ideas to life, delivering innovative and impactful designs that set the standard for excellence.</p>
            </div>
        </div>
    </div>
</section>