<section id="design" class="container-fluid fullscreen d-flex align-items-center py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column">
                <img src="/assets/images/figma-screenshot.png" alt="Screen shot of Figma with web team interacting on project">
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h2 class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-5 text-inter-400">Design</h2>
                <h2 class="headline headline-style-1 text-inter-600">A Year in Mockups and Components</h2>
                <p class="text-inter-400">Our OHIL design process—from ideation and wireframing to high-fidelity mockups and seamless developer handoff—brought ideas to life, delivering innovative and impactful designs that set the standard for excellence.</p>
            </div>
        </div>
    </div>
</section>