<section id="recap" class="recap fullscreen d-flex align-items-center justify-content-center position-relative overflow-hidden text-white">
    <div class="container position-absolute z-3">
        <div class="row">
            <div class="col-12 ">
                
                <p class="text-xlarge">
                    In 2024, we redefined digital excellence with a streamlined development process that prioritized collaboration, efficiency, and client satisfaction.
                </p>
                <p class="text-xlarg">
                    Across 14 innovative projects and 16 active repositories, our team delivered over 860,000 lines of code through 1,238 commits and 214 pull requests, engaging 249,000 visitors with seamless, user-centric experiences.
                </p>
                <p class="text-xlarge">
                    Leveraging cutting-edge tools we ensured reliable performance while achieving 100% ADA compliance across all our managed sites. Through meaningful design iterations and forward-thinking innovation, we continue to set the standard for accessible, impactful, and future-ready digital solutions
                </p>
            </div>
        </div>
    </div>
</section>