<section id="recap" class="recap fullscreen d-flex align-items-center justify-content-center position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 ">

                <div class=" recap-txt">

                    <p>
                        In <span class="recap-hl">2024</span>, we redefined digital excellence with a streamlined development process that prioritized collaboration, efficiency, and client satisfaction.<br><br>

                        Across <span class="recap-hl"></span>14 innovative projects and <span class="recap-hl">16</span> active repositories, our team delivered over <span class="recap-hl">860,000</span> lines of code through <span class="recap-hl">1,238</span> commits and <span class="recap-hl">214</span> pull requests, engaging <span class="recap-hl">249,000</span> visitors with seamless, user-centric experiences.<br><br>

                        Leveraging cutting-edge tools we ensured reliable performance while achieving <span class="recap-hl">100% ADA compliance</span> across all our managed sites. Through meaningful design iterations and forward-thinking innovation, we continue to set the standard for accessible, impactful, and future-ready digital solutions
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>