<section id="looking-ahead" class="container-fluid fullscreen bg-pink d-flex align-items-center justify-content-center py-5 section-text-fade-in keyboard-nav">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center text-white">
                <h2 class="small text-uppercase rounded-4 border py-1 px-3 align-self-start mb-5">Looking Ahead</h2>
                <p class="p-animate text-inter-700">As we close out 2024, we’re excited to carry this momentum into 2025, driving greater innovation, collaboration, and impact for our users. </p>
            </div>
        </div>
    </div>
</section>