@use "bootstrap/scss/bootstrap";
@use 'abstracts/variables' as *;
@use 'base/typography' as *;
@use 'base/utilities';
@use 'base/animations';
@use 'components/big-numbers';
@use 'sections/hero';
@use 'sections/digital-horizons';
@use 'sections/lines-of-code';
@use 'sections/code';
@use 'sections/looking-ahead';
@use 'sections/tools';
@use 'sections/recap';

body {
    background: #141414;
    font-family:  "Inter", serif;
}