@use "bootstrap/scss/bootstrap";
@use 'abstracts/variables';
@use 'base/typography';
@use 'base/utilities';
@use 'base/animations';
@use 'sections/hero';
@use 'sections/digital-horizons';
@use 'sections/lines-of-code';
@use 'sections/looking-ahead';

body {
    background: #141414;
    font-family:  "Inter", serif;
}