.fullscreen {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

/* Text Colors*/
.text-blue {
    color: #0E5FFB;
}

.text-pink {
    color: #E3006C;
}

/* Background Colors */

.bg-pink {
    background: #E3006C;
}
