
#accessibility {

    .content-center{
      align-self: left;
    }

    h2 {
      font-size: clamp(1rem, 5vw, 6rem);
      letter-spacing: clamp(-2px, -22vw, -25px);
    }

    .text-large-number {
      font-size: clamp(1rem, 20vw, 15rem);
    }

    @media (max-width: 768px) {
        .content {
          text-align: center; 
          width: 100%;
          padding: 0 20px 0 20px;
        }
        .content-center{
            align-self: center !important;
          }
      }
  
  
  
  
  
  }

  
  