
#accessibility {

    .content-center{
        align-self: left;
      }

    @media (max-width: 768px) {
        /* Add your styles here for screens 1000px or smaller */
        .content {
          text-align: center; 
          width: 100%;
          padding: 0 20px 0 20px;
        }
        .content-center{
            align-self: center !important;
          }
      }
  
  
  
  
  
  }

  
  