@use "../abstracts/variables" as *;
@use "../base/typography" as *;

#code {
  overflow: hidden;
}

.code-ui {
  position: relative;

  &__vertical-line {
    position: absolute;
    top: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 0;
    background-color: $blue;
    z-index: 0;
  }

  &__card {
    height: 500px;
    overflow: hidden;
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: monospace;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  &__card-toolbar {
    background-color: #111111;
    padding: 4px 12px;

    .circle {
      height: 10px;
      width: 10px;
      border-radius: 99px;
      display: inline-block;

      &.first {
        background-color: rgba(255, 0, 0, 0.928);
      }

      &.second {
        background-color: rgb(255, 217, 0);
      }

      &.third {
        background-color: rgb(0, 185, 0);
      }
    }
  }

  &__card-body {
    padding: 20px;
    white-space: pre-wrap;
  }

  &__cursor {
    display: inline-block;
    width: 8px;
    height: 18px;
    background: #d4d4d4;
    animation: blink 1s step-end infinite;
  }
}

code {
  display: block;
  color: rgb(157, 157, 157);
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
