.digital-horizons {
    background: linear-gradient(90deg, #0E5FFB 0%, #FF7A22 77.5%, #C91E30 100%);
    padding-top: 128px;
    padding-bottom: 96px;

    h2 {
        font-size: clamp(1rem, 9vw, 7rem);
        letter-spacing: clamp(-4px, -22vw, -35px);
        vertical-align: middle;
        line-height: 1.15;
    }

    h2 {
        display: inline-block; 
        background: linear-gradient(90deg, #FFFFAC, #29FFFF); 
        background-clip: text; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent; 
      }
      
      h2 span {
        display: inline-block;
      }
      
      h2 span span {
        display: inline-block; 
      }
      
      

    .bottom-text {
        font-size: clamp(1rem, 5vw, 6rem);
        letter-spacing: clamp(-2px, -22vw, -25px);
        vertical-align: middle;
        line-height: 1
    }

    .dh-number {
        font-size: clamp(1rem, 20vw, 20rem);
        letter-spacing: clamp(-2px, -22vw, -35px);
        vertical-align: middle;
        line-height: 1;
    }
}