#hero {

  background-image: url('/assets/images/ohil-hero-bg.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
  }

    .container, .row {
        min-height: 100vh;
    }

    .ohil-text {
        font-size: clamp(1rem, 22vw, 20rem);
        letter-spacing: clamp(-5px, -22vw, -35px);
        vertical-align: middle;
        line-height: .75;
    }

    .hero-list p {
        letter-spacing: -1px;
    }

    .innovation-text {
        font-size: clamp(1rem, 22vw, 4rem);
        letter-spacing: clamp(-5px, -22vw, -35px);
        vertical-align: middle;
        line-height: .75;
    }

    @media (max-width: 1200px) {
        .innovation-text {
            font-size: clamp(1rem, 22vw, 3.5rem);
        }
    }

    @media (max-width: 991px) {
        .innovation-text {
            font-size: clamp(1rem, 22vw, 2rem);
            letter-spacing: clamp(-2px, -20vw, -15px);
        }
    }

    @media (max-width: 640px) {
        .innovation-text {
            font-size: clamp(1rem, 22vw, 1.5rem);
        }

    }
}