#recap {

    .recap-txt{
        font-size: 2rem;
        font-style: normal;
        color: white;
        font-weight: 600;
    }
    .recap-hl{
        color: #E3006C ;
    }
    .recap-txt p{
        display: block;
    }



}