#tools {


    background-image: url('/assets/images/tools-bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;


    .sliding-row.middle {
        transform: translateX(-25vw);
    }

    .tools-list{
        font-size: 3rem;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px black;
        text-transform: uppercase;
    }
}