.transforming-development {
    background: #000;
    padding-top: 128px;
    padding-bottom: 96px;
    color: #eee;

    h2 {
        font-size: clamp(1rem, 10vw, 6rem);
        letter-spacing: clamp(-2px, -22vw, -35px);
        vertical-align: middle;
        line-height: .9
    }

    .bottom-text {
        font-size: clamp(1rem, 5vw, 6rem);
        letter-spacing: clamp(-2px, -22vw, -25px);
        vertical-align: middle;
        line-height: 1
    }

    .dh-number {
        font-size: clamp(1rem, 20vw, 20rem);
        letter-spacing: clamp(-2px, -22vw, -35px);
        vertical-align: middle;
        line-height: 1;
    }
}