@use '../abstracts/variables' as *;

.transforming-development {
    background: #000;
    padding-top: 128px;
    padding-bottom: 96px;
    color: #eee;


    p {
        font-size: clamp(1rem, 5vw, 1.6rem);
        line-height: 169.231%;
        letter-spacing: -1px;
    }

    h2 {
        font-size: clamp(1rem, 10vw, 6rem);
        letter-spacing: clamp(-2px, -22vw, -35px);
        vertical-align: middle;
        line-height: .9
    }

    .bottom-text {
        font-size: clamp(1rem, 5vw, 6rem);
        letter-spacing: clamp(-2px, -22vw, -25px);
        vertical-align: middle;
        line-height: 1
    }

    .dh-number {
        font-size: clamp(1rem, 20vw, 20rem);
        letter-spacing: clamp(-2px, -22vw, -35px);
        vertical-align: middle;
        line-height: 1;
    }

    .word-border {
        position: relative;

        span {
            width: 0;
            height: 3px;
            border-radius: 6px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &.blue {
            span {
                background: $blue;
            }
        }

        &.green {
            span {
                background: $green;
            }
        }

        &.orange {
            span {
                background: $orange;
            }
        }
    }
}