<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHIL WRAPPED 2024</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <meta name="description" content="OHIL Wrapped 2024 is a comprehensive wrap-up of the OHIL Web Development year's accomplishments.">
    <meta property="og:title" content="OHIL Wrapped 2024">
    <meta property="og:description" content="A comprehensive wrap-up of the year's highlights.">
    <meta property="og:image" content="[[url to image]]">
    <meta property="og:type" content="website">
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Blackberg Group" />
    <meta name="twitter:title" content="OHIL Wrapped 2024" />
    <meta name="twitter:description" content="OHIL Wrapped 2024 is a comprehensive wrap-up of the OHIL Web Development year's accomplishments." />
    <meta name="twitter:image" content="[[url to image]]" />
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
  <main>
    {% include "01-hero.html" %}
    {% include "02-transforming-development.html" %}
    {% include "03-digital-horizons.html" %}
    {% include "04-lines-of-code.html" %}
    {% include "05-audience.html" %}
    {% include "06-engagement.html" %}
    {% include "07-accessibility.html" %}
    {% include "08-design.html" %}
    {% include "09-code.html" %}
    {% include "10-tools.html" %}
    {% include "11-recap.html" %}
    {% include "12-looking-ahead.html" %}
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  {% viteScript %}
</body>
</html>

